* {
  padding: 0px;
  margin: 0px;
  color: #fff;
}

/* 外部容器 */
.outer_box {
  position: relative;
  width: 100%;
  height: 100vh;
  /* background-image: url('../images/background.jpg'); */
  background-size: 100% 100%;
}

/* 内部登录窗口 */
.inner_box {
  position: absolute;
  /* width: 450px; */
  /* height: 400px; */
  width: 528px;
  height: 428px; 
  /* background-color: rgba(127, 255, 212, 0.5); */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  margin: 0 auto;
}
.inner_box div {
  float: left;
}
/* 登录表单 */
.inner_box .center_form {
  /* width: 450px; */
  /* height: 350px; */
  width: 528px;
  height: 428px; 
  /* background-color:rgb(255,255,255,0.2); */
  /* border-radius: 10px; */
  background-image: url(../images/login_.png);
  background-size: contain;
  /* background-color: rgba(179, 187, 186, 0.575); */
  /* box-shadow: 0px 0px 3px rgb(217, 224, 224); */
  text-align: center;
  margin: 0 auto;
}
.inner_box .center_form p{
  height: 50px;
  /* width: 449px; */
  width: 527px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.title {
  height: 50px !important;
  line-height: 50px;
  border-radius: 10px;
  /* background-color:rgb(255,255,255,0.2); */
  /* margin-bottom: 40px; */
  /* font-weight: 800; */
  /* font-size: 25px; */
  font-weight: normal;
  font-size: 22px;
  text-align: center;
}
span{
  /* color:rgb(240,240,240); */
  color: #000000;
}
input {
  width: 280px;
  margin: 10px 50px 0px 40px;
  height: 40px;
  padding-left: 20px;
  /* background: none; */
  /* background-color: rgb(255,255,255,0.2); */
  background-color: #EDEEEE;
  /* color :rgb(240,240,240); */
  color :rgba(0, 0, 0, 0.7);
  border: 1px solid #fff;
  box-sizing:border-box;
  /* border-radius: 5px; */
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
input::placeholder{
  /* color:rgb(255,255,255); */
  color: rgba(0, 0, 0, 0.7);
}
a{
  /* color :rgb(240,240,240); */
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
}
/* remember me */
.center_form .chk{
  width: 330px;
  /* height: 60px; */
  line-height: 50px;
  margin: 0px 40px 0px 40px;
  display: flex;
  justify-content:space-between;
  font-size: 14px;
}
.chk span input {
  width: 15px;
  height: 15px;
  margin: 10px;
}
.error
{
  color:red;
  display:inline-block;
  text-align: center;
  height: 20px;
  width: 449px;
  font-weight: bold;
  font-size: 15px;
  line-height: 100%;
}

/* 登录按钮 */
.signIn_btn {
  height: 60px;
  width: 450px;
  line-height: 50px;
  left: 45%;
  background-color: none;
  text-align: center;
}
.signIn_btn input{
  font-size: 20px;
  color:#FFF;
  border: none;
  background-color: #568aee;
  text-align: center;
}
