<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>模板</title>
	<link rel="stylesheet" href="../../include/css/public.min.css">
	<link rel="stylesheet" href="../../include/css/iconfont.min.css">
	<link rel="stylesheet" href="../doc-lib/solarized-light.css">
	<link rel="stylesheet" href="../doc-lib/doc.css">
	<style>
		.grid-cont {display:block; border:1px solid #ddd; text-align:center;}
		.grid-cont:hover {border-color:#4082e6; text-decoration:none;}
		.grid-cont > h4 {font-size:24px; border-bottom:1px dotted #ccc;;}
	</style>
</head>
<body>
    <div class="page-cont">
	    <div class="crumb"></div>
        <div class="page-title">
			<h2>模板</h2>
			<p>提供常见场景下的模板代码片段。</p>
		</div>
		<div class="grid-row mt15">
			<div class="grid-col grid-col-3">
				<a href="form.html" class="grid-cont" target="_blank">
					<h4>表单</h4>
					<img src="../doc-lib/images/guide_pro_mgr.png">
				</a>
			</div>
		</div>
		<div class="mt20 txt-c">
			<span class="msg msg-normal">持续整理中...</span>
		</div>

    </div>
    <script src="../../include/js/jquery-1.11.3.min.js"></script>
    <script src="../../include/js/public.min.js"></script>
    <script src="../doc-lib/highlight.pack.js"></script>
	<script src="../doc-lib/doc.js"></script>
    <script>
		hljs.initHighlightingOnLoad();
    </script>
</body>
</html>
